[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
binance-futures-connector = "*"
polars = "*"
pandas = "*"
finrl = "*"
exchange-calendars = "*"
stockstats = "*"
wrds = "*"
ta = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
