[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alpaca-py = "*"
python-dotenv = "*"
yfinance = "*"
stable-baselines3 = "*"
matplotlib = "*"
ipykernel = "*"
polars = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
plotly = "*"
nbformat = "*"
torch = "*"
gymnasium = "*"
tqdm = "*"
alpaca-trade-api = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
