[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
stable-baselines3 = "*"
matplotlib = "*"
ipykernel = "*"
polars = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
plotly = "*"
nbformat = "*"
torch = "*"
gymnasium = "*"
tqdm = "*"
pykrakenapi = "*"
requests = "*"
python-dotenv = "*"
krakenx = "*"
python-binance = "*"
krakenex = "*"
fastparquet = "*"
ta = "*"
binance-futures-connector = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
