numpy
binance-futures-connector
torch
# torch_xla
pandas
binance
python-binance
python-dotenv
gymnasium
google
google-cloud-secret-manager
tqdm
fastparquet
gcsfs
google-cloud-storage
scikit-learn
flask
flask-socketio
psutil
flask-cors
fastapi==0.104.1
uvicorn[standard]==0.24.0
websockets==12.0
pydantic==2.5.0
python-multipart==0.0.6
psutil==5.9.6